@page "/"
@using Auricular.DataTransfer
@inject HttpClient HttpClient

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@if(Albums is Album[] albums) {
    foreach(var item in albums) {
        <p>@item.Title</p>
    }
} else {
    @:Loading...
}

@code {
    protected Album[]? Albums { get; set; }

    protected override async Task OnInitializedAsync() {
        Albums = await GetAlbums();
        StateHasChanged();

        await base.OnInitializedAsync();
    }

    private async Task<Album[]?> GetAlbums() {
        return (await HttpClient.GetFromJsonAsync<AlbumListResponse>("https://localhost:5001/rest/getAlbumList"))?.Albums;
    }
}