@page "/"
@using Auricular.Client.MediaPlayer
@using Auricular.DataTransfer
@inject HttpClient HttpClient
@inject PlayerState Player

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@if(Albums is Album[] albums) {
    foreach(var item in albums) {
        <p><a @onclick="async () => await ItemClicked(item)" style="cursor:pointer">@item.Title</a></p>
    }
} else {
    @:Loading...
}

@code {
    protected Album[]? Albums { get; set; }

    protected override async Task OnInitializedAsync() {
        // Wait for API to start
        for (int i = 0; i < 5; i++) {
            try {
                Albums = await GetAlbums();
                break;
            } catch {
                await Task.Delay(500);
            }
        }

        StateHasChanged();

        await base.OnInitializedAsync();
    }

    private async Task<Album[]?> GetAlbums() {
        return (await HttpClient.GetFromJsonAsync<AlbumListResponse>("https://localhost:5001/rest/getAlbumList"))?.Albums;
    }

    private async Task ItemClicked (Album item) {
        await Player.Play($"https://localhost:5001/rest/stream?id={item.Id}", $"{item.Title} - {item.Artist}");
    }
}